body {
    border-color: #f00;
}

input, select {
    border: 0;
}

body>span, div>table>caption>span, div>table>caption>div, #listado>div>div:nth-child(3), #menu, #fondo_listado, div>table>caption>select, div>table>caption>span, #edicion, #audio, #tema, #codigo_tema, info {
    display: none;
}

#listado {
    box-shadow: initial;
}

#titulo_documento {
    margin: 0;
    width: 100%;
}

#partituras {
    top: 0;
    width: 100%;
    padding-bottom: 0px;
}